<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:post-title {"level":1} /-->

	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

	<!-- wp:group {"tagName":"dl","layout":{"type":"default"}} -->
	<dl class="wp-block-group">
		<!-- wp:html -->
		<dt>Uploaded</dt>
		<!-- /wp:html -->
		<!-- wp:post-date /-->

		<!-- wp:html -->
		<dt>Caption</dt>
		<!-- /wp:html -->
		<!-- wp:post-excerpt {"showMoreOnNewLine":false} /-->

		<!-- wp:html -->
		<dt>Uploaded by</dt>
		<!-- /wp:html -->
		<!-- wp:post-author-name /-->
	</dl>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
